@inject IJSRuntime jsRuntime

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-left">
            <label>@LabelText</label>
        </div>
        <div class="col-md-12 d-flex justify-content-left">
            <div class="form-outline mb-3" style="width: 100%; max-width: 22rem">
                <input type="text" @ref=_PhoneInput @bind="PhoneNumber" id=" phone" class="form-control" placeholder="(555) 555-5555" />
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string LabelText { get; set; } = "Phone Number:";
    [Parameter]
    public string PhoneNumber { get; set; } = string.Empty;

    private ElementReference _PhoneInput;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // This JS method can be found in the ComponentMethods.js file
            jsRuntime.InvokeVoidAsync("addPhoneMask", _PhoneInput);
        }
    }

    public async Task AsyncFocus()
    {
        // This JS method can be found in the ComponentMethods.js file
        await jsRuntime.InvokeVoidAsync("focusOnElement", _PhoneInput);
    }
}