@inject IJSRuntime jsRuntime

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-left">
            <label>@LabelText</label>
        </div>
        <div class="col-md-12 d-flex justify-content-left">
            <input type="date" @bind="@Date" @ref=CalendarInput style="width:100%;">
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string LabelText { get; set; } = "Select Date:";
    [Parameter]
    public DateTime Date { get; set; } = DateTime.Now;

    private ElementReference CalendarInput;

    public async Task AsyncFocus()
    {
        // This JS method can be found in the ComponentMethods.js file
        await jsRuntime.InvokeVoidAsync("focusOnElement", CalendarInput);
    }
}
